
body {
    background-color: #426ecc;
    color: #062057;
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 200px
}

button {
    background-color: #426ecc;
    color: #062057;
    font-family: "Quattrocento Sans", sans-serif
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}